/**
 * Scaffolding
 */

*, *::before, *::after {
  @include box-sizing(border-box);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $headings-font-weight;
}

a {
  color: $link-color;

  &:active {
    color: $link-color-active;
  }
}

.container {
  @include clearfix;
  max-width: 960px;
  margin: 0 auto;
}
